//
// Variables
// -------------------------------------------------

//== Colors
//
//white
$white: #FFFFFF;

//transparent
$transparent: transparent;

//yellow
$yellow_1: #FEDE84;
$yellow_2: #EFB40F;
$yellow_3: #EECE1A;

//blue green
$green_1: #00B2A0;
$green_2: #28A745;

//white 
$white: #FFFFFF;

//black
$black_1: #242121;
$black_2: #373A39;

//gray
$gray_1: #F6F8FA;
$gray_2: #bcbfbe;
$gray_3: #e9ecef;

//red
$red_1: #E25757;


//== Typography
//

$bold: 700;
$medium: 500;
$regular: 400;
$light-text: 300;

$italic: italic;

